.background{
    background-image: url('animefrancebanner.png');
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%
}